.container {
  margin: auto;
  height: 40%;
  width: 40%;
  background-color: white;
  border: 5px ridge grey;
  padding: 20px;
  /* text-align: center; */
  line-height: 1.5;
  word-spacing: 1.5px;
}

.button {
  margin: 10px 35px 0px 35px;
  height: 30px;
  width: 50px;
  font-size: 10px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  outline: none;
  margin: auto;
  margin-top: 20px;
}
